<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="shortcut icon" href="{{ request.static_url('pp.web.base:static/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ request.static_url('pp.web.base:static/styles.css') }}"/>
    <title>{% block title %}{% endblock %} - BookSys</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012 by <a href="http://www.pythonpro.co.uk/">PythonPro</a>.
        {% endblock %}
    </div>
</body>
